$contentBackground: #fff;
$bodyBg: #dcbb9a;
$captionsFrames: #893c00;
$text: #000000;
$brief: #fadcba;
$link: #3d70a1;
$tHead: #e0e0e0;
$tBody: #ffffff;
$formCaptions: #808080;
$buttonBorder: #3d70a1;
$buttonBg: #ffffff;
$buttonText: #3d70a1;