$contentBackground: #3b3b3b;
$bodyBg: rgb(212, 243, 255);
$captionsFrames: #fccd10;
$text: #ffffff;
$link: #f5c70f;
$brief: #fff178;
$tHead: #94a34e;
$tBody: #677d01;
$formCaptions: #f5c70f;
$buttonBorder: #f5c70f;
$buttonBg: #3b3b3b;
$color: rgba(198, 238, 252, 0.53);